{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenue dans l'administration Variables-Pay</h1><br>
    <p>Utilisez le menu à gauche pour naviguer.</p>
{% endblock %}
