{% extends 'base.html.twig' %}

{# Shared responsable (service/division) UI shell #}

{% block body %}
    <div class="rd-page py-4 py-md-5">
        {% block rd_body %}{% endblock %}
    </div>
{% endblock %}
